@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.buttonns:before{
    font-family: 'Quicksand', "Comfortaa";
    content: 'Информация';
    position: relative;
    border-radius: 3px 3px 0px 0px;
    padding: 5px 0 3px 0;
    display: inline-flex;
    text-decoration: none !important;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: -26px;
    display: block;
    border: 1px solid #fa1a1a;
    background-color: #680b0b;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}
.buttonns1:before{
    font-family: 'Quicksand', "Comfortaa";
    content: 'Музыкальный плейлист';
    position: relative;
    border-radius: 3px 3px 0px 0px;
    padding: 5px 0 3px 0;
    display: inline-flex;
    text-decoration: none !important;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: -26px;
    display: block;
    border: 1px solid #fa1a1a;
    background-color: #680b0b;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}

.hero-copy1 {
    /* padding: 0px; */
    padding-bottom: 15px;
    padding-top: 10px;
    background-color: #141c24;
    border-width: 1px;
    border-style: solid;
    border-color: #f71a1a;
    border-radius: 0px 0px 3px 3px;
    position: relative;
    bottom: 6px;
    /* height: 310px; */
}
.hero-copy {
    margin-left: 4px;
    height: 160px;
    border-radius: 5px;
}

/* Отступы */
.hero {
    padding: 40px 0px 20px 0px;
}
.hero1 {
    padding: 0px 0px 00px 0px;
}
.hero2 {
    padding: 20px 0px 20px 0px;
}
.hero4 {
    padding: 5px 0px 20px 0px;
}
.film {
    padding-left: 160px;
    margin-top: -50px;
}
.hero-cta {
    padding-left: 150px;
    margin-top: -49px;
}
.hero-copy {
    width: 100%;
    padding: 0px;
}

/* Изображение */
.im{
    top: -140px;
    left: -20px;
    border-radius: 5px;
    position: relative;
}
.img_1 {
    position: relative;
    left: 20px;
    top: 20px;
}
.img_2 {
    position: relative;
    left: -15px;
    top: -155px;
}
#img2 {
    pointer-events: none;
    position: absolute;
}
#img1 {
    border-radius: 3px;
}
/* Кнопка */
.buttonnn {
    font-family: 'Quicksand', "Comfortaa";    
    margin-right: 7px;
    line-height: 1.5;
    font-size: 15px;
    position: relative;
    border-radius: 5px;
    background-color: #2c3a50;
    padding: 0px 10px 0px 9px;
    display: inline-flex;
    text-decoration: none !important;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border-top: 2px solid #31435e;
    border-left: 2px solid #31435e;
    border-right: 0px solid #31435e;
    border-bottom: 0px solid #2c3b51;

    transition: 0.2s;
}
.buttonnn:hover {
    transition: 0.2s;
    background-color: #31435e;
    color: #ffffff;
}
/* Тени у объектов */
.buttonnn{
    box-shadow: 5px 5px 4px var(--Shadow);
}
.buttonnn:hover{
    box-shadow: 2px 2px 1px var(--Shadow);
}
/* Разрешение выделения текста */
.name, .name:before{
    content: var(--VName);
    -webkit-user-select: text; -webkit-user-select: text;
    -khtml-user-select: text; -moz-user-select: text;
    -ms-user-select: text; user-select: text;
    -o-user-select: text;
}
/* Запрет выжедения текста */
.number, .number:before{
    content: var(--VAge);
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    -o-user-select: none;
}

.em{
    font-size: 20px;
    position: relative;
    bottom: 2px;
    margin-right: 10px;
}
.em-kino{
    background-image:url("../icon/kino.png")
}
.em-live{
    background-image:url("../icon/live.png")
}
.em-gta5rp{
    background-image:url("../icon/gta5rp.png")
}
.em-dead{
    background-image:url("../icon/Dead.png")
}
.em-tiktok{
    background-image:url("../icon/tiktok.png")
}
.em-youtube{
    background-image:url("../icon/youtube.png")
}
.em-steam{
    background-image:url("../icon/steam.png")
}
.em-vk{
    background-image:url("../icon/vk.png")
}
.em-bots{
    background-image:url("../icon/bots.png")
}