DirectorySlash Off

Redirect /kino http://kino.aledgg.ru

RewriteBase /
RewriteRule (.*)\.html$ $1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]
