
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.em{
    font-size: 16px;
    position: relative;
    bottom: 2px; 
}
.em-kino{
    background-image:url("./icon/kino.png")
}
.em-live{
    background-image:url("./icon/live.png")
}
.em-gta5rp{
    background-image:url("./icon/gta5rp.png")
}
.em-tiktok{
    background-image:url("./icon/tiktok.png")
}
.em-youtube{
    background-image:url("./icon/youtube.png")
}
.em-steam{
    background-image:url("./icon/steam.png")
}
.em-vk{
    background-image:url("./icon/vk.png")
}
.em-bots{
    background-image:url("./icon/bots.png")
}
.Version{
    font-style: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(218, 55, 55);
    border-radius: 3px;
    height: 22px;
    padding: 0px;
}
.hero-copy{
    width: 100%;
    padding: 0px;
}
.site-header{
    background-color: black;
    height: 90px;
}
span {
    border-radius: 5px;
    transition: 0.2s;
    background: #4d246e;
    padding: 3px 15px 3px 15px;
}
span:hover {
    border-radius: 5px;
    transition: 0.2s;
    background: #643788;
    color: #45b5ff;
    padding: 3px 15px 3px 15px;
}
.site-footer a:hover,
.site-footer a:active {
    text-decoration: none
}
.body-wrap{
    background-color: #0d1218;
}
.css-info{
    font-family: 'Quicksand', "Comfortaa";
    position: absolute;
    font-weight: 600;
    top: 140px;
    width: 100%;
    color: #fff;
    background: #141c24;
    border-radius: 5px;
    margin-top: 10px;
    line-height: 30px;
    margin-top: -90px;
    font-size: 14px;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 15px;
    border: 2px solid #FA1A1A;
}
.css-name{
    text-align: center;
    color: #fff;
    background: #680b0b;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -0.4px;
    margin-top: -20px;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 3px;
    border-bottom: 2px solid #FA1A1A;
}
.css-sys{
    position: relative; justify-content: space-between; align-items: center
}
.css-link{
    display: inline-flex;
    text-decoration: none !important;
    color: #7289DA;
    background-color: rgba(114,137,218,.1);
    border-radius: 3px;
    padding: 0 2px;
    cursor: pointer;
}
.discord {
    position: absolute;
    top: 0.8em;
    right: 0;
    transition: 0.2s; 
    display: inline-flex;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none !important;
    text-transform: none;
    background-color: #2f39a7;
    font-family: 'Quicksand', "Segoe UI";
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 7px 10px;
    height: 32px;
    text-align: center;
    white-space: nowrap;
}   
.discord:hover {
    transition: 0.2s;
    color: #fff;
    font-family: 'Quicksand', "Segoe UI";
    background: #1a248f;
}                                 
.avatar{
    transition: 0.2s;
    box-shadow: 5px 5px 4px #080c0f;
    border: 0px solid #364758;
    position: absolute;
    top: -30px;
    left: 0px;
    position: absolute;
    border-radius: 5px;
    height: 120px;
}
.avatar:hover{
    transition: 0.2s;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #080c0f;
}
#name{
    font-family: 'Quicksand', "Segoe UI";
    position: absolute;
    font-size: 40px;
    font-weight: 100;
    top: -88px;
    left: 130px;
}
#text{
    font-family: 'Quicksand', "Segoe UI";
    position: absolute;
    bottom: -53px;
    font-size: 14px;
    font-weight: 600;
    left: 132px;
}
.buttons {
    font-family: 'Quicksand', "Segoe UI";
    position: absolute;
    top: 50px;
    left: 130px;
    transition: 0.2s;
    display: inline-flex;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none !important;
    text-transform: none;
    background-color: #2c3a50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    padding: 11px 30px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    box-shadow: 5px 5px 4px #080c0f;
    border-top: 2px solid #31435e;
    border-left: 2px solid #31435e;
    border-right: 0px solid #31435e;
    border-bottom: 0px solid #31435e;
}   
.buttons:hover {
    transition: 0.2s;
    box-shadow: 2px 2px 1px #080c0f;
    color: #fff;
    font-family: 'Quicksand', "Segoe UI";
    background: #31435e;
}
#licntFE24{
/*     display: none; */
    font-family: 'Quicksand', "Segoe UI";
    position: absolute;
    border: 2px solid #fff;
    border-radius: 5px;
    bottom: -53px;
    height: 35px;
    width: 91px;
    font-size: 14px;
    font-weight: 600;
    right: 20px;
    top: 153%;
    z-index: -21;
}
